root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.java]
indent_style = space
indent_size = 2

[{Makefile,**.mk}]
indent_style = tab
indent_size = 4

[*.js]
indent_style = space
indent_size = 2

[*.php]
indent_size = 4
indent_style = space

[*.md]
indent_style = space
max_line_length = 80
